node-red-data2/node_modules/node-red-contrib-filter/user/flows_penguin.json
[{"id":"c91d5c87.92ffa","type":"tab","label":"Test Flow","disabled":false,"info":""},{"id":"36d7a11f.3b39b6","type":"filter","z":"c91d5c87.92ffa","name":"","property":"payload","propertyType":"msg","asArray":false,"itemProperty":"","itemPropertyType":"item","rules":[{"t":"cont","v":"Testing","vt":"str","output":1}],"checkall":"true","outputs":1,"x":550,"y":180,"wires":[["47595d78.33cd6c"]]},{"id":"47595d78.33cd6c","type":"debug","z":"c91d5c87.92ffa","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":680,"y":180,"wires":[]},{"id":"19196485.4a41eb","type":"function","z":"c91d5c87.92ffa","name":"","func":"msg = {\n  payload: \"Testing 1 2 3\"  \n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":410,"y":180,"wires":[["36d7a11f.3b39b6"]]},{"id":"8723b9ff.dd2d4","type":"inject","z":"c91d5c87.92ffa","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":260,"y":180,"wires":[["19196485.4a41eb"]]},{"id":"ed3ed526.b31f18","type":"filter","z":"c91d5c87.92ffa","name":"","property":"payload","propertyType":"msg","asArray":false,"itemProperty":"","itemPropertyType":"item","rules":[{"t":"eq","v":"No Match","vt":"str","output":1},{"t":"else","output":2}],"checkall":"true","outputs":2,"x":550,"y":240,"wires":[[],["7b97f6e8.b70a98"]]},{"id":"7b97f6e8.b70a98","type":"debug","z":"c91d5c87.92ffa","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":690,"y":240,"wires":[]},{"id":"6d9a02.38a7be","type":"function","z":"c91d5c87.92ffa","name":"","func":"msg = {\n  payload: \"Testing 1 2 3\"  \n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":410,"y":240,"wires":[["ed3ed526.b31f18"]]},{"id":"e81ec02.c03f94","type":"inject","z":"c91d5c87.92ffa","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":260,"y":240,"wires":[["6d9a02.38a7be"]]},{"id":"b0bd30ee.a93138","type":"filter","z":"c91d5c87.92ffa","name":"","property":"payload","propertyType":"msg","asArray":true,"itemProperty":"payload","itemPropertyType":"item","rules":[{"t":"cont","v":"2","vt":"str","output":1}],"checkall":"true","outputs":1,"x":550,"y":380,"wires":[["3a803278.93f7ce"]]},{"id":"3a803278.93f7ce","type":"debug","z":"c91d5c87.92ffa","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":680,"y":380,"wires":[]},{"id":"752dea71.409a9c","type":"function","z":"c91d5c87.92ffa","name":"","func":"msg = {\n  payload: [\n    {\n      payload: \"Message 1\"  \n    },\n    {\n      payload: \"Message 2\"  \n    },\n  ]\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":410,"y":380,"wires":[["b0bd30ee.a93138"]]},{"id":"77bf81e5.4c16c","type":"inject","z":"c91d5c87.92ffa","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":260,"y":380,"wires":[["752dea71.409a9c"]]}]